extends layout

block content
  h1= title
  p Welcome to Milley Insurance Calculator
  a(class='home_insurance_btn' href='/home_insurance') Home Insurance
  <br>
  a(class='auto_insurance_btn' href='/auto_insurance') Auto Insurance
